
# Note that nginx only caches GET and HEAD (not POST) by default:
# http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_methods
proxy_cache_path /cache/nginx_cache levels=1:2 keys_zone=ANONYM:30m max_size=250m;
proxy_cache_path /cache/nginx_cache_static levels=1:2 keys_zone=STATIC:30m max_size=250m;
proxy_temp_path /cache/nginx_proxy 1 2;

# We use this variable so we can bypass the cache in the case when the
# user is logged in. If the user is not logged in, then we would like
# nginx to cache the response from UWSGI.
map $http_cookie $ckan_cache_bypass {
    # Bypass caching by default.
    default              1;
    # Bypass caching when the client sends a long "dcor" cookie, which
    # implies that the user is logged-in (more information in the cookie).
    "~^dcor=.{280}.*"   1;
    # Do not bypass caching when the client sends a shorter "dcor" cookie.
    "~dcor=.*"   0;
}
