PATH={{ CKAN_ENVIRONMENT_DIRECTORY }}/bin
# Run 'ckan {{ ckan_command }}' at one o'clock
0 2 * * * root ckan -c {{ CKAN_INI }} {{ ckan_command }} >> /var/log/ckan/ckan-cron-{{ ckan_command }}.log 2>&1
