PATH=/usr/bin
# Reset the CKAN instance every Sunday for development instances.
# The user `dcoraid` is protected from purging.
# TODO: The `dcor prune` call at the end makes sure all resources on S3 are also deleted.
{% if DCOR_DEVELOP | bool %}
30 0 * * 7 root (date && dcor reset --datasets --zombie-users --keep-user dcoraid --yes && {% if DCOR_FIGSHARE_IMPORT | bool %} ckan dcor-import-figshare && {% endif %} ckan search-index rebuild --clear && dcor inspect --assume-yes) >> /var/log/ckan/ckan-cron-reset.log 2>&1
{% endif %}
