PATH={{ CKAN_ENVIRONMENT_DIRECTORY }}/bin
# Run 'ckan {{ ckan_command }}' at one o'clock
0 1 * * * root ckan -c {{ CKAN_INI }} {{ ckan_command }} --modified-days 1 >> /var/log/ckan/ckan-cron-{{ ckan_command }}.log 2>&1
