- name: Maintenance check on
  include_tasks: maintenance-on.yml
  when: maintenance_mode | bool == true

- name: Maintenance check off
  include_tasks: maintenance-off.yml
  when: maintenance_mode | bool == false

- name: Reload nginx
  systemd:
    name: nginx
    state: reloaded
    enabled: yes
