- name: Setup automated image compression
  block:
    - name: Install imagemagick
      ansible.builtin.apt:
        name: imagemagick
        state: latest

    - name: Setup cron job for image compression
      ansible.builtin.template:
        src: "etc_cron_image_resize.j2"
        dest: /etc/cron.d/dcor-image-resize
        owner: root
        group: root
        mode: '0644'

- name: Setup DCOR nightly jobs
  ansible.builtin.template:
    src: "etc_cron_dcor_jobs.j2"
    dest: "/etc/cron.d/dcor-{{ ckan_command }}.conf"
    owner: root
    group: root
    mode: '0644'
  loop:
    - "run-jobs-dcor-depot"
    - "run-jobs-dcor-schemas"
    - "run-jobs-dc-view"
    - "run-jobs-dc-serve"
  loop_control:
    loop_var: ckan_command

- name: Weekly purge all datasets for development instances
  ansible.builtin.template:
    src: "etc_cron_dcor_reset.j2"
    dest: "/etc/cron.d/dcor-reset.conf"
    owner: root
    group: root
    mode: '0644'
  when: DCOR_DEVELOP | bool

- name: Setup automated encrypted database bacá¸±ups
  block:
    - name: Install gpg
      ansible.builtin.apt:
        name: gpg

    - name: Create keys directory
      ansible.builtin.file:
        path: "{{ PGP_KEY_DIR }}"
        state: directory
        owner: root
        group: root
        mode: 0700

    - name: Copy key to host
      ansible.builtin.copy:
        src: pgp_*.pub
        dest: "{{ PGP_KEY_DIR }}"
        owner: root
        group: root
        mode: '0600'

    - name: Import and trust keys
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          # import all keys
          find {{ PGP_KEY_DIR }} -type f | xargs gpg --import

    - name: Create cron job
      ansible.builtin.template:
        src: "etc_cron_dcor_backup.j2"
        dest: "/etc/cron.d/dcor-encrypted-backup-{{ pgp_identifier }}.conf"
        owner: root
        group: root
        mode: '0644'
      loop: "{{ PGP_KEYS_FOR_ENCRYPTED_BACKUPS }}"
      loop_control:
        loop_var: pgp_identifier
  when: PGP_KEYS_FOR_ENCRYPTED_BACKUPS | bool
