- name: Send email summary
  block:
    - name: Create temporary file for email body
      ansible.builtin.tempfile:
        state: file
        prefix: ansible.mailbody.
        suffix: temp
      register: tempfile

    - name: Run DCOR inspect and pipe the output to a temporary file
      ansible.builtin.shell:
        executable: bash
        cmd: "dcor inspect > {{ tempfile.path }}"

    - name: Send email
      ansible.builtin.shell:
        executable: bash
        cmd: "ckan send-mail --recipient {{ MAINTAINER_EMAIL }} --subject 'Ansible success' --file_body {{ tempfile.path }}"

  when: EMAIL_SMTP_SERVER != ""
